[color]
	ui = true
[push]
	default = simple
[alias]
	forkdiff = !bash -c 'git diff $(git merge-base "$1" "$2") "$2" "${@: 3}" ' -
	co = checkout
	ci = commit
	st = status
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	cob = checkout -b
	a = add -v
	cm = commit -m 'Bulk commit :fish:'
	ca = commit -m 'Bulk commit :fish:' -a
	pu = push -v
	p = push -v
	r = remote
	R = remote -v
	c = commit -m 'Bulk commit' -a
	v = status -v
[user]
	email = Chinggis6@iCloud.com
	name = Chinggis6
[commit]
	template = ~/.gitmessage
[core]
	# GIT_EDITOR overrides it
	editor = vim -p
